body {
  font-family: "Lato", "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto Slab";
}

.footer__inner:nth-of-type(2) {
  display: none;
}

.thumbnail {
  float: right;
  margin-top: 0;
  margin-left: 25px;
  border: 1px solid black;
}

.x:before {
  content: "\2717";
  color: red;
}

.checkmark:before {
  content: "\2713";
  color: green;
}


table.chart {
  border-collapse: collapse;
}

table.chart th {
  text-align: center;
  padding: 1px 2px 1px 2px;
  border-width: 1px;
  border-style: inset;
  border-color: gray;
  background-color: #f0f0f0;
}

table.chart td {
  padding: 1px 2px 1px 2px;
  border-width: 1px;
  border-style: inset;
  border-color: gray;
}
