body {
  font-family: "Lato", "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto Slab";
}

.footer__inner:nth-of-type(2) {
  display: none;
}

.thumbnail {
  float: right;
  margin-top: 0;
  margin-left: 25px;
  border: 1px solid black;
}

.x:before {
  content: "\2717";
  color: red;
}

.checkmark:before {
  content: "\2713";
  color: green;
}


table.chart {
  border-collapse: collapse;
}

table.chart th {
  text-align: left;
  padding: 1px 2px 1px 2px;
  border-width: 1px;
  border-style: inset;
  border-color: gray;
  background-color: #f0f0f0;
}

table.chart td {
  padding: 1px 2px 1px 2px;
  border-width: 1px;
  border-style: inset;
  border-color: gray;
}

/* Footnotes: */

details.footnote {
  display: inline;
  position: relative;
}

/* hide details arrow */
details.footnote > summary {
  list-style: none;
} /* firefox */
details.footnote > summary::-webkit-details-marker {
  display: none;
} /* webkit */

details.footnote > summary {
  display: inline;
  cursor: pointer;
  vertical-align: super;
  font-size: smaller;
}

details.footnote > .footnote-content {
  position: absolute;
  background: white;
  border: 1px solid lightgray;
  padding: 1em;
  min-width: 40ch;
  font-weight: normal;
}

