body {
  font-family: "Lato", "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto Slab";
}

.footer__inner:nth-of-type(2) {
  display: none;
}

.thumbnail {
  float: right;
  margin-top: 0;
  margin-left: 25px;
  border: 1px solid black;
}

.x:before {
  content: "\2717";
  color: red;
}

.checkmark:before {
  content: "\2713";
  color: green;
}
